@import "../sass/outils/variables.scss" ;
@import "../sass/outils/mixins.scss" ;

@media ( min-width : 667 px ) {
    .header{
        display: flex;
        flex-direction: column; 
        .header__logo{
            height: 50px; width: 100px;
        }
        .header__nav{
            background-color: gray;
        }
    }

}