.heart {
  padding: 10px;
}

.heart-icon {
  font-size: 50px;
  cursor: pointer;
  transform: scale(0.75, 0.85);
}
.heart-icon--empty {
  position: absolute;
  z-index: 2;
  color: #333333;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.heart-icon--empty:active, .heart-icon--empty:hover {
  opacity: 0;
}
.heart-icon--empty:active + .heart-icon--full::after, .heart-icon--empty:hover + .heart-icon--full::after {
  transform: translateY(-100%) rotate(500deg);
}
.heart-icon--full {
  position: relative;
  z-index: 1;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  overflow: hidden;
}
.heart-icon--full::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background: #fff;
  border-radius: 25%;
  transform: translateY(0) rotate(0deg);
  transition: transform 1.5s ease-out;
}

.menu-heading .heart-icon--empty, .menu-heading .heart-icon--full::after {
  background: #f2f2f2;
}

body {
  font-family: "sans" sans-serif;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 667px) {
  .header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    border-bottom: solid 4px gray;
  }
  .header img {
    width: 400px;
    height: 200px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  main .search_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #BCD6E3;
    font-size: 30px;
  }
  main .search_bar span {
    align-self: center;
    padding-right: 10px;
  }
  main .search_bar h2 {
    padding-left: 10px;
  }
  main .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    padding-bottom: 60px;
  }
  main .intro__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .intro__container h1 {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    margin: 40px 15% 0 15%;
    text-align: center;
  }
  main .intro__container p {
    font-size: 50px;
    color: #BCD6E3;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
  }
  main .intro__container button {
    display: flex;
    margin-bottom: 150px;
    font-size: 40px;
    padding: 20px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border: none;
    color: white;
    border-radius: 50px;
    box-shadow: -1px 2px 10px 0px rgba(92, 92, 92, 0.65);
    cursor: pointer;
    transition-duration: 400ms;
  }
  main .fonctionnements {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    padding-bottom: 100px;
  }
  main .fonctionnements h2 {
    font-size: 60px;
    margin-left: 30px;
  }
  main .fonctionnements__container {
    flex-direction: row;
    flex-wrap: wrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    justify-content: space-around;
    padding-bottom: 0;
  }
  main .fonctionnements__container--item {
    display: flex;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    box-shadow: -1px 2px 15px 0px rgba(92, 92, 92, 0.45);
    width: 95%;
    margin: 30px;
  }
  main .fonctionnements__container--item span {
    position: relative;
    background-color: #9356DC;
    font-size: 40px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 60px;
    color: white;
    font-family: "Roboto";
    right: 15px;
  }
  main .fonctionnements__container--item i {
    align-self: center;
    font-size: 40px;
    margin-left: 40px;
  }
  main .fonctionnements__container--item h4 {
    font-size: 40px;
    align-self: center;
    text-align: start;
    width: 70%;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }
  main .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
  main .restaurants h2 {
    font-size: 60px;
    margin-left: 30px;
  }
  main .restaurants__container {
    display: flex;
    flex-direction: column;
  }
  main .restaurants__container--card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    box-shadow: 5px 4px 8px 2px #e6e6e6;
    border-radius: 25px;
  }
  main .restaurants__container--card a {
    text-decoration: none;
    border: solid 1px #fff;
  }
  main .restaurants__container--card a .header-box {
    position: relative;
  }
  main .restaurants__container--card a .header-box .new {
    position: absolute;
    font-size: 25px;
    top: 15px;
    right: 15px;
    padding: 8px 15px;
    background-color: #99E2D0;
    color: #139273;
    font-weight: 700;
    border-radius: 4px;
  }
  main .restaurants__container--card a .header-box img {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  main .restaurants__container--card a .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  main .restaurants__container--card a .footer-box h3 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    width: 85%;
    padding-top: 30px;
    padding-left: 30px;
    color: #000;
  }
  main .restaurants__container--card a .footer-box h4 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 30px;
    color: #000;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: black;
  }
  footer h1 {
    font-size: 70px;
    color: white;
    margin-left: 30px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
  }
  footer ul li {
    font-size: 50px;
    list-style: none;
    margin-bottom: 50px;
    color: #fff;
  }
}/*# sourceMappingURL=style.css.map */