body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
}

header {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100px;
}
header i {
  color: #4a4a4a;
  margin-top: 10px;
}

.image-card {
  display: flex;
  background-color: #f2f2f2;
}
.image-card .photo-plat {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-title {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}
.big-title .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 250px;
}
.big-title .title .size {
  font-family: "roboto";
  font-size: 30px;
  font-weight: bold;
}

.menu {
  background-color: #f2f2f2;
  z-index: 2;
  position: relative;
  top: -30px;
  width: 100%;
  border-radius: 30px;
}
.menu .menu-content {
  -webkit-animation: menu-fadein ease-in-out 1000ms forwards;
          animation: menu-fadein ease-in-out 1000ms forwards;
  opacity: 0;
}
.menu .menu-content--1 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu .menu-content--2 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.menu .menu-content--3 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.menu-bloc {
  background-color: #fff;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  transition-property: transform;
  display: flex;
  flex-direction: row;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms;
}
.menu-bloc:hover {
  padding-right: 75px;
}
.menu-bloc:hover .checked {
  opacity: 1;
  transform: translate(-50px);
}
.menu-bloc:hover .fa-check-circle {
  transform: rotate(360deg);
}
.menu-bloc__header {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition-property: transform;
  width: 100%;
  cursor: pointer;
}
.menu-bloc__header .un {
  margin: 0;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}
.menu-bloc__header .deux {
  margin: 0;
  margin-right: 10px;
  font-family: "Roboto";
  font-size: 15px;
  color: #BDB4B3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-bloc__footer {
  display: flex;
  justify-content: space-between;
}
.menu-bloc__footer .trois {
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  margin: 5px 20px -5px 0;
}
.menu-bloc .checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 500ms ease-in-out;
  padding-right: 10px;
  padding-left: 10px;
}
.menu-bloc .checked .fa-check-circle {
  color: #fff;
  transition: transform 700ms ease-in-out;
}
.menu-bloc .checked:hover {
  transform: translateX(-50px);
}

@media screen and (min-width: 667px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
  }
  header .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  header .header-menu i {
    font-size: 70px;
    margin-right: 200px;
  }
  header .header-menu img {
    width: 400px;
    height: 100px;
    margin-right: 200px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
  main .image-card {
    display: flex;
    border-radius: 20px;
    background-color: #f2f2f2;
  }
  main .image-card img {
    height: 600px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .big-title {
    position: relative;
    top: -65px;
    border-radius: 45px 45px 0 0;
    background-color: #f2f2f2;
    display: flex;
  }
  main .big-title .title {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .big-title .title .size {
    font-family: "roboto";
    font-size: 50px;
    padding-right: 50px;
  }
  main .big-title .title i {
    font-size: 40px;
    align-self: center;
    padding-left: 50px;
  }
  main .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f6f6;
  }
  main .menu .menu-content {
    -webkit-animation: menu-fadein ease-in-out 1000ms forwards;
            animation: menu-fadein ease-in-out 1000ms forwards;
    opacity: 0;
  }
  main .menu .menu-content--1 {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  main .menu .menu-content--2 {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
  }
  main .menu .menu-content--3 {
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
  }
  main .menu .entree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .menu .entree h2 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 5px solid #99E2D0;
    width: 12%;
    margin-left: 30px;
  }
  main .menu .entree .menu-bloc {
    background-color: #fff;
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    box-shadow: 4px 4px 6px #aaa;
    transition-property: transform;
    display: flex;
    flex-direction: row;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms;
  }
  main .menu .entree .menu-bloc:hover {
    padding-right: 75px;
  }
  main .menu .entree .menu-bloc:hover .checked {
    opacity: 1;
    transform: translate(-50px);
  }
  main .menu .entree .menu-bloc:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  main .menu .entree .menu-bloc__header {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition-property: transform;
    width: 100%;
    cursor: pointer;
  }
  main .menu .entree .menu-bloc__header h3 {
    margin: 0;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
  }
  main .menu .entree .menu-bloc__header p {
    margin: 0;
    margin-right: 10px;
    font-family: "Roboto";
    font-size: 35px;
    color: #4B473D;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  main .menu .entree .menu-bloc__footer {
    display: flex;
    justify-content: space-between;
  }
  main .menu .entree .menu-bloc__footer p {
    margin: 0;
    font-family: "Roboto";
    margin-right: 10px;
    font-weight: 500;
    font-size: 40px;
  }
  main .menu .entree .menu-bloc .checked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 50px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 500ms ease-in-out;
    padding-right: 10px;
    padding-left: 10px;
  }
  main .menu .entree .menu-bloc .checked .fa-check-circle {
    color: #fff;
    transition: transform 700ms ease-in-out;
  }
  main .menu .entree .menu-bloc .checked:hover {
    transform: translateX(-50px);
  }
  main .menu .plat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .menu .plat h2 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 5px solid #99E2D0;
    width: 12%;
    margin-left: 30px;
  }
  main .menu .plat .menu-bloc {
    background-color: #fff;
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    box-shadow: 4px 4px 6px #aaa;
    transition-property: transform;
    display: flex;
    flex-direction: row;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms;
  }
  main .menu .plat .menu-bloc:hover {
    padding-right: 75px;
  }
  main .menu .plat .menu-bloc:hover .checked {
    opacity: 1;
    transform: translate(-50px);
  }
  main .menu .plat .menu-bloc:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  main .menu .plat .menu-bloc__header {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition-property: transform;
    width: 100%;
    cursor: pointer;
  }
  main .menu .plat .menu-bloc__header h3 {
    margin: 0;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
  }
  main .menu .plat .menu-bloc__header p {
    margin: 0;
    margin-right: 10px;
    font-family: "Roboto";
    font-size: 35px;
    color: #4B473D;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  main .menu .plat .menu-bloc__footer {
    display: flex;
    justify-content: space-between;
  }
  main .menu .plat .menu-bloc__footer p {
    margin: 0;
    font-family: "Roboto";
    margin-right: 10px;
    font-weight: 500;
    font-size: 40px;
  }
  main .menu .plat .menu-bloc .checked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 50px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 500ms ease-in-out;
    padding-right: 10px;
    padding-left: 10px;
  }
  main .menu .plat .menu-bloc .checked .fa-check-circle {
    color: #fff;
    transition: transform 700ms ease-in-out;
  }
  main .menu .plat .menu-bloc .checked:hover {
    transform: translateX(-50px);
  }
  main .menu .dessert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .menu .dessert h2 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 5px solid #99E2D0;
    width: 12%;
    margin-left: 30px;
  }
  main .menu .dessert .menu-bloc {
    background-color: #fff;
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    box-shadow: 4px 4px 6px #aaa;
    transition-property: transform;
    display: flex;
    flex-direction: row;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms;
  }
  main .menu .dessert .menu-bloc:hover {
    padding-right: 75px;
  }
  main .menu .dessert .menu-bloc:hover .checked {
    opacity: 1;
    transform: translate(-50px);
  }
  main .menu .dessert .menu-bloc:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  main .menu .dessert .menu-bloc__header {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition-property: transform;
    width: 100%;
    cursor: pointer;
  }
  main .menu .dessert .menu-bloc__header h3 {
    margin: 0;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
  }
  main .menu .dessert .menu-bloc__header p {
    margin: 0;
    margin-right: 10px;
    font-family: "Roboto";
    font-size: 35px;
    color: #4B473D;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  main .menu .dessert .menu-bloc__footer {
    display: flex;
    justify-content: space-between;
  }
  main .menu .dessert .menu-bloc__footer p {
    margin: 0;
    font-family: "Roboto";
    margin-right: 10px;
    font-weight: 500;
    font-size: 40px;
  }
  main .menu .dessert .menu-bloc .checked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 50px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 500ms ease-in-out;
    padding-right: 10px;
    padding-left: 10px;
  }
  main .menu .dessert .menu-bloc .checked .fa-check-circle {
    color: #fff;
    transition: transform 700ms ease-in-out;
  }
  main .menu .dessert .menu-bloc .checked:hover {
    transform: translateX(-50px);
  }
  main .order {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  main .order button {
    display: flex;
    margin-bottom: 150px;
    font-size: 40px;
    padding: 20px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border: none;
    color: white;
    border-radius: 50px;
    box-shadow: -1px 2px 10px 0px rgba(92, 92, 92, 0.65);
    cursor: pointer;
    transition-duration: 400ms;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: black;
  }
  footer h1 {
    font-size: 70px;
    color: white;
    margin-left: 30px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
  }
  footer ul li {
    font-size: 50px;
    list-style: none;
    margin-bottom: 50px;
    color: white;
  }
}
@-webkit-keyframes menu-fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style_menus.css.map */